@charset 'utf-8';
a,address,b,blockquote,body,div,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,label,legend,li,ol,p,s,span,table,tbody,td,tfoot,th,thead,tr,ul {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;}
ol,ul {list-style: none}
a img {border: 0;vertical-align: top}
a {text-decoration: none}
button {overflow: visible;margin: 0;padding: 0;border: 0 none;background-color: transparent}
button::-moz-focus-inner {padding: 0}
input,textarea {padding: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;background: 0;-webkit-appearance: none}
input[type=password] {-webkit-text-security: disc}
button:focus,input:focus,textarea:focus {outline: 0}
body {word-wrap: break-word; margin: 0px; padding:0px; font-family: \5FAE\8F6F\96C5\9ED1; height: 100vh;}
.cf {zoom: 1;}
.cf:after {display: table; clear: both; content: '';}
body{ background: #fff; width: 10rem; position: relative; }
.pageload{ z-index: 7;display: block; width: 100%; height: 100%; }
.pageload .loadimg{position: absolute; top: 5.109375rem; bottom:9.140625rem;  left: 0; right: 0;margin:auto; width: 0.84375rem; height: 0.859375rem;background:url(../images/sign/loader.gif) no-repeat; background-size:cover;}
.pageload .loadtext{position: absolute; left: 0; right: 0; margin:auto;top: 6.984375rem; bottom: 8.28125rem; width: 10rem;height: 0.75rem; text-align: center; display: block;color: #ce3e3c; font-size:10px; line-height: 0.75rem; font-family:Verdana, Arial, Helvetica, sans-serif;}

.wrap{display: none; background: url(../images/sign/bombg.png) no-repeat left bottom; background-size: contain; width: 10rem; min-height: 100%; position: relative;}
.top{background: url(../images/sign/topbg.jpg) no-repeat left top;background-size: cover;width: 10rem;height: 6.5625rem;position: relative;}
.active{position: absolute;left: 0.625rem;top: 0.58125rem;color: #f3d2d2;font-size: 16px;}
.active span{margin-left:5px;font-family: Arial; font-size: 16px;}
.gift{position: absolute;z-index: 2;right: 0.625rem;top: 0.58125rem;background: url(../images/sign/gift.png) no-repeat 0 0;background-size: cover;width: 1.375rem;height: 1.21875rem;}
.sign{position: absolute;z-index: 0;left: 0;right: 0; top: 0.8rem;width: 4.1875rem;height: 4.1875rem;margin:0px auto;background: url(../images/sign/singbg.png) no-repeat 0 0;background-size: cover;}
.sign .sign-box{position: absolute; width: 2.5625rem; height: 2.5625rem; left: 0.75rem; top:0.78125rem;}
.sign div.item{color: #fa4153; text-align: center;position: absolute; width: 100%;left: 0;}
.sign-in{ font-size: 24px; top: 0.425rem;}
.sign-num{font-size: 10px; top: 1.6625rem;}
.checkin{position: absolute;top: 4.5rem;left: 0; right:0; margin:0 auto;width: 9.28125rem;height: 2.0rem;}
.check-text{overflow: hidden; position: relative;}
.check-text span{background: url(../images/sign/sign_icon.png) no-repeat 0 0; width: 0.328125rem; height: 0.328125rem; background-size: cover; float: left; margin-right: 0.15625rem;}
.check-text em{float: left; color: #fee8d0; font-size: 10px; line-height: 0.328125rem;}
.check-box{background: url(../images/sign/time-line.png) no-repeat center center; background-size: 9.28125rem 0.15625rem; width: 9.28125rem; height:1.4375rem; margin-top: 0.2rem; }
.check-box .item{position: relative; float: left;margin-top: 0.4375rem; width: 1.40625rem; height: 0.9375rem;}
.check-box .item:first-child{margin-left: 0.15625rem;}
.check-box .item:last-child{width: 0.59375rem;}
.check-box .item .icon{background: url(../images/sign/point.png) no-repeat 0 0; background-size: 100% 100%; width: 0.59375rem; height: 0.59375rem;}
.check-box .item .icon.signed{background-image: url(../images/sign/point-sign.png)}
.check-box .item .icon.signed.last{background-position: 0 -1.25rem;}
.check-box .item .lastgift{position: absolute; left: -0.09375rem; top: -1.171875rem; width: 0.78125rem; height: 1.171875rem; background-image: url(../images/sign/lastgift.png); background-size: 100% 100%;}
.check-box .item .time{font-size: 9px; color: #fff; font-family: Arial;}
.calendarbox{background:url(../images/sign/calendarbg.png) no-repeat 0 0;width: 10rem;height: 9.6875rem;background-size: 100%; padding-bottom:0.625rem;/*position: absolute;left: 0;top: 7.0rem;*/}
.singer_r_img{display:block;width:114px;height:52px;line-height:45px;background:url(../images/sign/sing_week.gif) right 2px no-repeat;vertical-align:middle;*margin-bottom:-10px;text-decoration:none;}
.singer_r_img:hover{background-position:right -53px;text-decoration:none;}
.singer_r_img span{margin-left:14px;font-size:16px;font-family:'Hiragino Sans GB','Microsoft YaHei',sans-serif !important;font-weight:700;color:#165379;}
.singer_r_img.current{background:url(../images/sign/sing_sing.gif) no-repeat 0 2px;border:0;text-decoration:none;}
.signbox {border-top: 3px solid #f0d2d2; margin-top: 0.15625rem; font-family: Arial; border-left:1px solid #ececec;}
.signbox table{border-collapse: collapse;border-spacing: 0;width:100%;}
.signbox th{width: 1.09375rem;height: 0.9375rem;text-align: center;border-right:1px solid #ececec;border-bottom:1px solid #ececec; font-size: 10px; color: #e66b6b; font-weight: bold; }
.signbox td {width: 1.09375rem;height: 0.9375rem;text-align: center;border-right:1px solid #ececec;border-bottom:1px solid #ececec;color: #3a3b36;vertical-align: top; font-size: 14px;}
.signbox td.day{border-bottom:2px solid #ff8f87;}  
.signbox span{ width: 0.59375rem; height: 0.59375rem; margin:0.15625rem auto 0; display: block; line-height: 0.59375rem;}
.signbox .on span{background:#ff8f87; border-radius: 50%;  color: #fff;}
.signbox .can span{background:#dedede; border-radius: 50%;  color: #555555;}
.signbox .mem, .signbox .on.mem, .signbox .can.mem {position: relative;color: #ef5553; }
.signbox .mem em, .signbox .on.mem em, .signbox .can.mem em{font-size: 7px;line-height: 0.3125rem; position: absolute; text-align: center; display: inline-block; left: 0; bottom: 0; width: 100%;}
.calendar_month_next,.calendar_month_prev{display: block;top: 0; left: 0.78125rem; position: absolute; width: 0.625rem;height:0.625rem;cursor: pointer;background:url(../images/sign/arrow_icon.png) no-repeat 0 0; background-size: cover;}
.calendar_month_next {background-position:-0.625rem 0; left: 1.40625rem;}
.calendar_month{float: left; color: #ef5553; font-size: 15px;}
.calendar_year{float: right; color: #bababa; font-size: 15px;}
.calendar_month_prev {background-position:0 0;}
.sign_calendar_title {width: 100%; position: relative; height: 0.625rem;}
.sign-main {width: 7.8125rem; margin: 0.3125rem auto 0;padding-top: 1rem;}
.tips{ width: 7.8125rem; margin:0.15625rem auto 0; overflow: hidden; position: relative;}
.tiplist{float: left;position: relative; width: 3.875rem;}
.tiplist .item{display: inline-block; margin-right: 0.15625rem; line-height: 0.375rem; overflow: hidden; }
.tiplist .item span, .rule span{display: inline-block; float: left; width: 0.375rem; height: 0.375rem; background: url(../images/sign/tip_icon.png) no-repeat; background-size: cover; background-position: 0 0;}
.tiplist .item.tip2 span{background-position: -0.53125rem 0;}
.tiplist .item em, .rule em{display: inline-block; height: 0.375rem; line-height: 0.375rem; font-style: normal; float: left;}
.rule{float: right; position: relative;}
.rule span{background-position: -1.1875rem 0; margin-right: 0.15625rem;}
.rule em{font-size: 10px; color: #f57270;}
.tiplist .item em{color: #333333; font-size: 7px; }

.wrap-succ{z-index: 3; width: 100%; height: 100%; display: none; background-color: rgb(0, 0, 0); filter: alpha(opacity=70);background-color: rgba(0, 0, 0, 0.7); position: absolute; left: 0; top: 0;}
.succ-box{position: absolute;z-index: 1;top: 4.125rem;left: 1.84375rem;width: 6.328125rem;height: 8.515625rem;background: url(../images/sign/succbg.png) no-repeat 0 0;background-size: cover;}
.star{position: absolute;z-index: 2; left: 0.984375rem; top: -1.5625rem; background: url(../images/sign/star.png) no-repeat 0 0; width: 4.796875rem; height: 3.28125rem; background-size: cover;}
.title{position: absolute; z-index: 3; left: -0.40625rem; top: 0.234375rem; background:url(../images/sign/qd_succ.png) no-repeat 0 0; background-size: cover; width: 7.125rem; height: 1.4375rem;}
.date{position: absolute; top: 2.34375rem; left: 1.21875rem; background: url(../images/sign/timebar.png) no-repeat 0 0; background-size: cover; width: 3.890625rem; height: 0.875rem;}
.date .time{ width: 100%; height: 100%; color: #333; font-size: 10px; text-align: center; line-height: 0.875rem; }
.date .time span{ color: #dd3a33; font-size: 22px; font-family: Arial; padding:0 0.15625rem; }
.date .icon{position: absolute; right: -0.15625rem; bottom: -0.078125rem; width: 0.421875rem; height: 0.421875rem; background: url(../images/sign/succ_icon.png) no-repeat 0 0; background-size: cover; }
.runnum{position: absolute; top: 4.0625rem; left: 0.3125rem; width: 5.625rem; margin:0 auto; color: #333333; font-size: 10px; text-align: center; border-bottom: 1px solid #9d9d9d; padding:0 0 0.15625rem;}
.runnum span{ color: #ef5553; font-size: 18px; font-family: Arial; }
.runnum span em{font-size: 24px; padding:0 0.15625rem; font-style: normal;}
.textlist{position: absolute; top: 5.390625rem; left: 0.703125rem; width: 5.0rem;}
.textlist .item{color: #7f4f11; font-size: 9px; line-height: 0.46875rem; margin-bottom: 0.078125rem; overflow: hidden;}
.textlist .item .gift_icon{display: inline-block; float: left; width: 0.46875rem; height: 0.46875rem; background: url(../images/sign/suc_icon.png) no-repeat 0 0; background-size: cover;}
.textlist .item .text{display: inline-block; float: left; line-height: 0.46875rem;}
.textlist .item span{ color: #ef5553;}
.okbtn{position: absolute; left: 1.4375rem; top: 7.0rem; width: 3.46875rem; height: 0.84375rem; background: url(../images/sign/btn1.png) no-repeat 0 0; background-size: contain;}


.wrap-fail-patch{z-index: 3; width: 100%; height: 100%; display: none; background-color: rgb(0, 0, 0); filter: alpha(opacity=70);background-color: rgba(0, 0, 0, 0.7); position: absolute; left: 0; top: 0;}
.wrap-rules{z-index: 3; width: 100%; height: 100%; display: none; background-color: rgb(0, 0, 0); filter: alpha(opacity=70);background-color: rgba(0, 0, 0, 0.7); position: fixed; left: 0; top: 0;}
.wrap-rules .succ-box{position: absolute;z-index: 1;    top: 2.625rem;  left: 1.14375rem;  width: 7.88125rem;  height: 10.915625rem;background: url(../images/sign/bg-rules.png) no-repeat 0 0;background-size: cover;}
.wrap-rules .rules {    top: 2.625rem;  padding: 0px 0.6rem;  position: absolute;  font-size: 0.3578rem;}
.btn-know{position: absolute; left: 2.1375rem;  top: 9.525rem;  width: 3.66875rem;  height: 3.44375rem; background: url(../images/sign/btn-know.png) no-repeat 0 0; background-size: contain;}
.bg-title{position: absolute; z-index: 3; left: -0.625rem; top: 0.334375rem; background:url(../images/sign/bg-title.png) no-repeat 0 0; background-size: cover; width: 9.125rem; height: 1.4375rem;}
.wrap-title {font-size: 0.715rem; color: #fff; margin-left: 3.1rem;}
.wrap-title-small {font-size: 0.715rem; color: #fff; margin-left: 2.2rem;}

/* .okbtn{position: absolute; left: 1.4375rem; top: 7.0rem; width: 3.46875rem; height: 0.84375rem; background-size: contain;}
.btn-close-wrap{
  border:1px solid #EF5553;
  font-size: 0.5rem;
  width:100%;
  height:100%;
  border-radius: 50px;
  color: #EF5553;
  font-weight:bold;
}*/

.wrap-succ.play .succ-box{-webkit-animation:zoomIn 0.5s 0s both;}
.wrap-succ.play .succ-box .star{-webkit-animation:fadeInDown 0.5s 0.5s both;}
.wrap-succ.play .succ-box .title{-webkit-animation:bounceInUp 0.5s 0.5s both;}
.wrap-succ.play .succ-box .date{-webkit-animation:fadeInUp 0.5s 0.5s both;}
.wrap-succ.play .succ-box .runnum{-webkit-animation:fadeInUp 0.5s 0.5s both;}
.wrap-succ.play .succ-box .textlist{-webkit-animation:fadeInUp 0.5s 0.5s both;}
.wrap-succ.play .succ-box .okbtn{-webkit-animation:fadeInUp 0.5s 0.5s both;}

.wrap-prize{z-index: 3; display: none; width: 100%; height: 100%; background-color: rgb(0, 0, 0); filter: alpha(opacity=70);background-color: rgba(0, 0, 0, 0.7); position: absolute; left: 0; top: 0;}
.prize-bg{position: absolute;z-index: 1;-webkit-animation:flash 1.0s 0s infinite; top: 1.125rem; left: 0;width: 10.0rem; height: 6.546875rem;background-size: cover;background-repeat:no-repeat;background-position:0 0;}
.prize-box{position: absolute;-webkit-animation:zoomIn 0.5s 0s both; z-index: 2; top: 3.65rem; left: 0; background: url(../images/sign/giftbg.png) no-repeat 0 0; background-size: cover; width: 8.21875rem; padding:0.9375rem 0.875rem; height: 4.325rem;}
.prize-box .item{position: relative; float: left; width: 2.34375rem; height: 3.4375rem; margin-left: 0.3125rem;}
.prize-box .item .tit{font-size: 13px; color: #666; text-align: center;}
.prize-box .item .giftbig{ background: url(../images/sign/gift.jpg) no-repeat 0 0; background-size: cover; width: 1.59375rem; height: 1.734375rem; margin: 0.3125rem auto;}
.prize-box .item .lqbtn{width: 1.90625rem; height: 0.78125rem; margin: 0 auto; background: url(../images/sign/wlqbtn.png) no-repeat 0 0; background-size: cover;}
.prize-box .item.prized .lqbtn, .prize-box .item.unprize .lqbtn{background: url(../images/sign/lqbtn.png) no-repeat 0 0; background-size: cover;}
.prize-box .item.unprize .giftbig{ background: url(../images/sign/ungift.jpg) no-repeat 0 0; background-size: cover; }
.close_icon{position: absolute;z-index: 3; top: -0.625rem; left: 8.4375rem; background: url(../images/sign/closebtn.png) no-repeat 0 0; background-size: cover; width: 0.46875rem; height: 0.46875rem;}

.wrap-lqsucc{z-index: 3; display: none; width: 100%; height: 100%;background-color: rgb(0, 0, 0); filter: alpha(opacity=70);background-color: rgba(0, 0, 0, 0.7); position: absolute; left: 0; top: 0;}
.davater{position: absolute; left: 2.03125rem; top: -1.25rem; width: 2.21875rem; height: 2.21875rem; border-radius: 50%; border:10px solid #fff;}
.davater img{ width: 2.21875rem; height: 2.21875rem; border-radius: 50%; }
.succ_tip{position: absolute; left: 1.671875rem; top: 1.5625rem;background: url(../images/sign/lq_succ.png) no-repeat 0 0; background-size: cover; width: 2.96875rem; height: 0.75rem;}
.succ_text{ position: absolute; left:0; top: 2.8125rem; width: 100%; text-align: center; color: #333; font-size: 12px; line-height: 0.5625rem; }
.wrap-lqsucc .succ-box{height: 7.265625rem; background: url(../images/sign/succbg1.png) no-repeat 0 0; background-size: cover;}
.wrap-lqsucc .okbtn{top: 5.46875rem;}
.wrap-lqsucc.play .succ-box{-webkit-animation:zoomIn 0.5s 0s both;}
.wrap-lqsucc.play .succ-box .davater{-webkit-animation:fadeInDown 0.5s 0.5s both;}
.wrap-lqsucc.play .succ-box .succ_tip{-webkit-animation:bounceInUp 0.5s 0.5s both;}
.wrap-lqsucc.play .succ-box .succ_text{-webkit-animation:fadeInUp 0.5s 0.5s both;}
.wrap-lqsucc.play .succ-box .okbtn{-webkit-animation:fadeInUp 0.5s 0.5s both;}

.wrap-toast{ z-index: 8; position: absolute; left: 0;top: 0; width: 100%; height: 100%;}
.toast-item{position: relative; border-radius:0.15625rem; width: 3.75rem; min-height: 2.96875rem;top: 6.25rem;  padding-top: 0.78125rem; margin: 0 auto; background: rgba(40, 40, 40, 0.75);}
.toast_img{width: 0.84375rem; height: 0.859375rem; margin: 0 auto 0; }
.loading{ background: url(../images/sign/loader1.gif) no-repeat 0 0; background-size: cover;}
.error{ background: url(../images/sign/warn_icon.png) no-repeat 0 0; background-size: contain;}
.toast_content{padding:0.78125rem 10%; width: 80%; text-align: center; line-height: 0.46875rem; color: #fff; font-size: 14px; }
[data-dpr="2"] .active{ font-size: 20px;}
[data-dpr="2"] .active span{ font-size: 32px;}
[data-dpr="2"] .sign-in{ font-size: 48px;}
[data-dpr="2"] .sign-num{ font-size: 20px;}
[data-dpr="2"] .check-box .item .time{font-size: 18px;}
[data-dpr="2"] .calendar_month{font-size: 30px;}
[data-dpr="2"] .calendar_year{font-size: 30px;}
[data-dpr="2"] .signbox th{font-size: 20px;}
[data-dpr="2"] .signbox td{font-size: 28px;}
[data-dpr="2"] .tiplist .item em{font-size: 14px;}
[data-dpr="2"] .rule em{font-size: 20px;}
[data-dpr="2"] .check-text em{font-size: 20px;}
[data-dpr="2"] .runnum span{font-size: 36px;}
[data-dpr="2"] .runnum span em{font-size: 48px;}
[data-dpr="2"] .date .time{font-size: 20px;}
[data-dpr="2"] .textlist .item .text{font-size: 18px;}
[data-dpr="2"] .date .time span{font-size: 44px;}
[data-dpr="2"] .runnum{font-size: 20px;}
[data-dpr="2"] .prize-box .item .tit{font-size: 26px;}
[data-dpr="2"] .succ_text{font-size: 24px;}
[data-dpr="2"] .signbox .mem span em{font-size: 14px;}
[data-dpr="2"] .pageload .loadtext{font-size: 20px;}
[data-dpr="2"] .toast_content{font-size: 28px;}

[data-dpr="3"] .active{ font-size: 30px;}
[data-dpr="3"] .active span{ font-size: 48px;}
[data-dpr="3"] .sign-in{ font-size: 72px;}
[data-dpr="3"] .sign-num{ font-size: 30px;}
[data-dpr="3"] .check-box .item .time{font-size: 27px;}
[data-dpr="3"] .calendar_month{font-size: 45px;}
[data-dpr="3"] .calendar_year{font-size: 45px;}
[data-dpr="3"] .signbox th{font-size: 30px;}
[data-dpr="3"] .signbox td{font-size: 42px;}
[data-dpr="3"] .tiplist .item em{font-size: 21px;}
[data-dpr="3"] .rule em{font-size: 30px;}
[data-dpr="3"] .check-text em{font-size: 30px;}
[data-dpr="3"] .runnum span{font-size: 54px;}
[data-dpr="3"] .runnum span em{font-size: 72px;}
[data-dpr="3"] .date .time{font-size: 30px;}
[data-dpr="3"] .textlist .item .text{font-size: 27px;}
[data-dpr="3"] .date .time span{font-size: 66px;}
[data-dpr="3"] .runnum{font-size: 30px;}
[data-dpr="3"] .prize-box .item .tit{font-size: 39px;}
[data-dpr="3"] .succ_text{font-size: 36px;}
[data-dpr="3"] .signbox .mem span em{font-size: 21px;}
[data-dpr="3"] .pageload .loadtext{font-size: 30px;}
[data-dpr="3"] .toast_content{font-size: 42px;}
@-webkit-keyframes flash {
	0%{
		background-image: url(../images/sign/rotebg.png);
	}
	50%{
		background-image: url(../images/sign/rotebg1.png);
	}
	100%{
		background-image: url(../images/sign/rotebg.png);
	}
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#loadingToast .weui_toast{width: 10em;margin-left:-5em;}

